<div class="intro">
	<div class="dim"></div>

	<div class="header">
		<div class="header_wrap">
			<div class="float_wrap">
				<ul>
						<li><a href="https://www.facebook.com/%EB%B0%A9%EA%B8%88-%EA%B7%B8-%EC%82%AC%EB%9E%8C-%EB%B0%A9%EA%B8%8B-Bangood-258300577855631/timeline" rel="external">Facebook</a></li>
						<li><a href="#" rel="external">Instagram</a></li>
						<li><a href="mailto:Info@starinmedia.net" rel="external">Contact</a></li>
						<li><a href="#aboutus">About</a></li>
				</ul>
			</div> <!-- end float_wrap> -->
		</div> <!-- end header_wrap -->
	</div> <!-- end header -->




	<div class="intro_main">
		<div class="introduce">
					<div class="bg_pic"></div>
					<div class="desc_text"><a href="#" rel="external"><%= image_tag "app_downbtn.png" %></a></div>
					<div id=aboutus class="aboutus">
						<div style="display:block; border-top: 1px solid black;"><hr></div>
						<div class="row">
								<h1 style="text-align:center;">TEAM BANGOOD</h1>
								<br><br><br>
						</div>

						<div class="row">
							<div class="col-md-3">
								<p class="position_font">기획, 디자인</p>
								<img src= "<%= asset_path('simin.jpg') %>" class="img-circle" alt="ohsimin" width="150" height="150"><br><br>
								<p class="name_font">오심인<br>
								Simin Linzy Oh</p>
								in5452@gmail.com<br>
								<a href="http://www.siminoh.com">www.siminoh.com</a><br><br><br>
							</div>
							<div class="col-md-3">
								<p class="position_font">기획, 개발</p>
								<img src= "<%= asset_path('sunghwan_2.jpg') %>" class="img-circle" alt="ohsimin" width="150" height="150"><br><br>
								<p class="name_font">박성환<br>
								Sung Hwan Park</p>
								shpark727@gmail.com<br><br><br>

							</div>
							<div class="col-md-3">
								<p class="position_font">기획, 개발</p>
								<img src= "<%= asset_path('kyoseoung.jpg') %>" class="img-circle" alt="ohsimin" width="150" height="150"><br><br>
								<p class="name_font">구교승<br>
								Kyo Seung Koo</p>
								grammaright@gmail.com<br>
								<a style="font-color:black;" href="http://kyoseung.debug.sexy">kyoseung.debug.sexy</a><br><br><br>
							</div>
							<div class="col-md-3">
								<p class="position_font">기획, 자문</p>
								<img src= "<%= asset_path('sunyeong.jpg') %>" class="img-circle" alt="ohsimin" width="150" height="150"><br><br>
								<p class="name_font">박순영<br>
								Sun Yeong Park</p>
								shinycoo@gmail.com<br><br><br>
							</div>
						<div>

					  <div class="row">
					  	<div class="col-md-12 starinmedia">
								<%= image_tag "starinmedia_logo.png" %>
							</div>
						</div>


					</div> <!-- end aboutus -->
					
					<div class="footer">
						스타인미디어, 대표: 오심인 / 사업자 등록번호: 105-21-33908 / 경기도 수원시 영통구 이의동 1349 광교 더 러포트 562호 / 문의메일: info@starinmedia.net
					</div>


					
						
		</div> <!-- end introduce -->
	</div> <!-- end intro_main -->

</div> <!-- end intro -->
