<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

hello ~! <br>
<hr>
페이스북유저<br> 
<% @fb_user.each do |fbuser| %>
<%= fbuser.id %> : <%= fbuser.name %>:<%= fbuser.email %><br>
<% end %>
<hr>
서버내 토큰 <br>
<% @c.each do |token| %>
토큰아이디:<%= token.id %>
토큰값:<%= token.utoken %>
User아이디:<%= token.user_id %><br>
<% end %>
<hr>
현재 회원가입 유저:<br>
<% @d.each do |user| %>
ID:<%= user.id %> email:<%= user.email %> name:<%= user.name %> token:<%= user.user_token %><br>
<% end %>
<hr>
이용약관 : <% @term.each do |term| %>
<%= term.term_content %>
<% end %><br>
<hr>
게시된 글 목록<br>
<% unless @list.nil? %>
<% @list.each do |list| %>
<%= list.id%> 학교ID: <%= list.univ_id%> 성별: <%= list.target_gen %> reward:<%= list.reward %> 메모:<%= list.talk_to%><br>
	<% list.wanted_comments.each do |comment| %>
	댓글=>	<%= comment.id %> 글쓴이 ID<%= comment.user_id %>내용:<%= comment.content%> <h5><%= comment.created_at%></h5><br>
	<% end %>
<% end%> <br>
<% else %>
<% end %>
<hr>
<% @univ.each do |univ| %>
<%= univ.id %>: <%= univ.univ_name %><br>
<% end %> <br>
<hr>
이미지 목록<br> 
<% @img.each do |img| %>
이미지아이디:<%= img.id%> 유저아이디:<%= img.user_id%>이미지 url: <%= img.path.url %><br>
<% end %>
<hr>
<form action="signup" method="post" >
  email: <input type="string" name="email"><br>
  password: <input type="password" name="password"></br>
	passwordre: <input type="password" name="password_re"><br>
	name: <input type="string" name="name"></br>
  datetime: <input type="datetime" name="datetime"></br>
  
  <input type="submit" value="Submit">
	
</form>

<form action="image_upload" method="post" enctype="multipart/form-data">	
	image: <input type="file" name="image_file"></br>
	
	<input type="submit" value="submit">
</form>

<script>
</script>
<div>
hello <%= link_to "sign in with facebook!!!!!!!!!", "/auth/facebook", id: "sign_in" %>
</div>
<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<a href="logout">로그아웃</a>

<div id="status">
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<br>
로그인된 정보</br>
세션[:user_id] =  <%= session[:user_id] %><br>

페북로그인 정보<br>
<% @b.each do |user| %>
	프로바이더:<%= user.provider %> <br>
	uid :<%= user.uid %> <br>
 name :<%= user.name %><br>
 token :<%= user.oauth_token %><br>
 expires :<%= user.oauth_expires_at %><br>
 email : <%= user.email %><br>
 <% end %>



<hr>
페북공유하기 
<form action="fb_share" method="get">
 <input type="text" name="post_id">
<input type="submit" value="ah">
</form>
<a href="fb_share">페북공유하기</a>
